<div class="news-container w-full">

    <div class='fixed top-0 left-0 z-10 w-full bg-[#fefefe]/90'>
        <app-navbar></app-navbar>
    </div>

    <div class="flex flex-row mt-8 w-full">
        <div class='w-64 h-screen border-r border-r-gray-100 overflow-scroll fixed top-20 pb-24 pl-10 pt-3 pr-5 hidden lg:block'>
            <app-sidebar></app-sidebar>
        </div>
        
        <div class='w-full h-full flex-1 px-5 md:px-10 lg:px-6 py-4 mt-12 lg:ml-64 lg:mr-8'>
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- <footer>
        <app-footer></app-footer>
    </footer> -->
</div>
